body {
    background-color: #F2F5FF;
    font-family: 'Inter', sans-serif;
    color: rgb(255, 255, 255);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__title {
    text-align: center;
    padding-top: 30px;
}

.header__text {
    font-size: 14px;
    padding-bottom: 40px;
}

.header__button-btn {
    font-size: 12px;
    text-wrap: nowrap;
    text-align: center;
    border: none;
    border-radius: 7px;
    padding: 12px 16px;
    margin-bottom: 60px;
    background-color: rgb(0,96,255);
}

.hero {
    display: flex;
    justify-content: center;
}

.hero__image {
    display: none;
}

.hero__image.is-visible {
    display: block;
}

.img {
    width: 426px;
    height: 559px;
    object-fit: cover;
    background-clip: content-box;
}

.upload_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(11,11,11);
    padding-top: 30px;
    text-align: center;
}

.upload__header-title {
    font-size: 16px;
    width: 700px;
}

.upload__header-text {
    font-size: 14px;
    width: 400px;
}

.upload__tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 18px;
    padding-top: 50px;
}

.upload__tab {
    all: unset;
    font-size: 20px;
    color: rgb(173, 192, 248);
}

.upload__tab--active {
    color: rgb(0,96,255)
}

.upload__tab:hover {
    color: rgb(105,141,250)
}

.upload__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.upload__dropzone {
    width: 540px;
    height: 200px;
    border: 2px dashed rgb(0,96,255);
    border-radius: 12px;
    text-align: center;
}

.upload__img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 33px;
}

.upload__content_promt {
    padding-top: 24px;
    color: rgb(11,11,11);
    font-size: 14px;
}

.upload__content-infotext {
    padding-top: 12px;
    font-size: 14px;
    color: rgb(173,192,248);
}

.upload__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 540px;
    height: 39px;
    border-radius: 7px;
    padding: 12px 16px;
    margin-top: 32px;
    margin-bottom: 50px;
    background-color: rgb(0,96,255);
    font-size: 12px;
    cursor: pointer;
}

.upload__text {
    width: 540px;
    height: 96px;
}

.upload__url-text {
    color: black;
    font-size: 16px;
    padding-bottom: 10px;
}

.upload__get-url {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 62px;
    border: 1px solid rgb(0,96,255);
    border-radius: 12px;
    padding: 0 16px;
    box-sizing: border-box;
    background-color: white;
}

.upload__input {
    border: none;
    outline: none;
    font-size: 14px;
    background-color: transparent;
    color: black;
}

.upload__copy {
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 8px;
    background-color: rgb(0,96,255);
    color: white;
    font-size: 12px;
    cursor: pointer;
}

.file-list-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 292px;
}

.file-list-header,
.file-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eef0f5;
}

.file-list-item:last-child {
    border-bottom: none;
}

.file-list-header {
    color: #8a96b1;
    font-size: 14px;
    font-weight: 500;
}

.file-col {
    display: flex;
    align-items: center;
}

.file-col-name {
    flex-basis: 35%;
}

.file-col-url {
    flex-basis: 50%;
    color: #555;
    font-size: 14px;
}

.file-col-delete {
    flex-basis: 10%;
    justify-content: center;
}

.file-icon {
    color: #0060ff;
    margin-right: 15px;
    font-size: 20px;
}

.delete-img {
    width: 32px;
    height: 32px;
}


.file-name {
    color: #333;
    font-weight: 500;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.delete-btn {
    background: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: opacity 0.2s ease;
}

.delete-btn:hover {
    background: transparent;
    opacity: 0.7;
}